<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
        height: 400px;
        width : 24%;
       background-color: white;

        margin: 2px;
        display:inline-block;
        border-radius: 25px;
        }
        .image-box{
            height:60%;
            border-radius: 25px;
            
        }
        .detail-box{
            height:38%;
           
            
        }
        img{
         height:100%;
         width: 100%;
         border-radius: 25px;
        }
        h2,h3,h4{
            text-align: center;
        }
    </style>
</head>
<body style="background-color:black">
    <div class="container">
        <div class="image-box"><img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt=""></div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box">
            <img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt="">
        </div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box">
            <img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt="">
        </div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box">
            <img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt="">
        </div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box"><img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt=""></div>
        <div class="detail-box">  <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4></div>
    </div>
    <div class="container">
        <div class="image-box"><img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt=""></div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box"><img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt=""></div>
        <div class="detail-box">
            <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4>
        </div>
    </div>
    <div class="container">
        <div class="image-box"><img src="https://media.istockphoto.com/id/604004132/photo/excited-and-happy-elegant-woman-presenting.jpg?s=612x612&w=0&k=20&c=ILagWM7gMS2WfRR11IAXKfSOtDzeNyNx4Er3r1wbfdE=" alt=""></div>
        <div class="detail-box">  <h2> title:onepiece</h2>
            <h3> price:500</h3>
            <h4> decreption.....</h4></div>
    </div>
    
</body>
</html>




