<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    -09777787645
</head>
<body>
    <div class="container">

    </div>
    <table border="2">
    <tr>
        <th>USERNAME</th>
        <TH>EMAIL</TH>
        <TH>ADDRESS</TH>
        <TH>STATE</TH>
        <TH>CITY</TH>
        <TH>PINCODE</TH>
        <TH>MOBILE NO</TH>
    </tr>
     {% for i in d %}
     <tr>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
        <td>{{i.state}}</td>
        <td>{{i.city}}</td>
        <td>{{i.pin_code}}</td>
        <td>{{i.mobile_no}}</td>
     </tr>
     {% endfor %}
    </table>
</body>
</html>
